In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import scipy.stats as stats
from IPython.display import Markdown
from python_scripts.pricingprocessing import *

In [54]:
comparison_set, bad_set = load_comparison_pickle()
df = pull_pricing_draft(comparison_set, bad_set, limit=None)

total entries: 14085
entries over power 2: 1108

In [55]:
df['created'] = pd.to_datetime(df['created'], unit='s')
df['price'] = df['selected_text'].map(lambda x: int(x[1:].strip()))

In [56]:
def drop_multi_item_posts(df):
    df['split_num'] = df['title_select'].str.split(',')
    df['split_num'] = df['split_num'].map(lambda x: len(x))
    df.loc[df['split_num'] != 1]
    df = df.loc[df['split_num'] == 1].copy()
    df = df.drop(['split_num'], axis=1)
    return df

In [57]:
def drop_undesirable_data(df):
    df = df.loc[df['full_text'].str.contains('laptop') == False]
    df = df.loc[df['title_select'].str.contains('laptop') == False]
    df = df.loc[df['post_id'] != 'bl70vy']
    df = df.loc[df['model'].isnull()==False]
    return df

In [66]:
def model_identification(df):
    df['ti'] = df['title_select'].str.contains('ti')

In [96]:
df['model'] = df['title_select'].str.extract(r'(\d{3,4})')

/home/erin/anaconda3/envs/HardwareScrape/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [105]:
df.groupby(['model', 'ti']).agg('mean')

                  price
model ti
1030  False   63.500000
1050  False   75.000000
      True    97.806452
1060  False  142.471698
      True   122.500000
1070  False  227.376238
      True   276.175000
1080  False  336.672897
      True   503.684211
120   False   60.000000
1650  False  133.333333
1660  False  170.000000
      True   217.500000
2060  False  308.395349
      True   306.666667
2070  False  422.672131
      True   492.142857
2080  False  645.986486
      True   586.560000
2400  False  380.000000
      True   600.000000
290   True   100.000000
299   True   500.000000
3570  False   70.000000
460   False   50.000000
4790  False  175.000000
480   False  130.000000
503   False  800.000000
560   True    44.000000
570   False   85.000000
      True    90.000000
580   False   92.500000
650   False   35.000000
660   False   65.000000
      True    50.000000
6600  False  600.000000
6700  True   600.000000
720   False  620.000000
750   True    46.666667
760   False   51.666667
770   False   65.833333
7700  True   300.000000
780   False  115.000000
      True   120.000000
870   False  550.000000
950   False   56.428571
960   False   72.500000
      True    75.000000
970   False  104.563636
980   False  180.576923
      True   215.131579

In [115]:
np.mean(df['title_select'].str.len())

29.477272727272727

In [120]:
df.loc[df['title_select'].str.len() > 80]

,title_select,selected_text,full_text,full_title,location_tag,post_id,author_id,author_trades,created,price,ti,model
75,bnib msi geforce rtx 2080 ti rtx 2080 ti sea ...,$930,Hello I am looking to sell this brand new card...,[USA-IL] [H] BNIB MSI GeForce RTX 2080 Ti RTX ...,[USA-IL],culrx7,t2_7bl7m,Trades: 4,2019-08-24 07:31:30,930,True,2080
77,msi - geforce rtx 2060 gaming z 6gb gddr6 pci...,$325,I bought it new and have only had it in my pc ...,[USA-TX][H] MSI - GeForce RTX 2060 GAMING Z 6G...,[USA-TX],cugx6f,t2_1bbcioiu,None,2019-08-24 01:20:18,325,False,2060
117,msi - geforce rtx 2060 gaming z 6gb gddr6 pci...,$325,I bought it new and have only had it in my pc ...,[USA-TX][H] MSI - GeForce RTX 2060 GAMING Z 6G...,[USA-TX],crqrm3,t2_1bbcioiu,None,2019-08-18 03:32:04,325,False,2060
164,amd ryzen 5 2400g processor nvidia geforce gt...,$600,As the post says\n\nI bought my now ex a gamin...,[USA-CA] [H] AMD Ryzen 5 2400G Processor NVIDI...,[USA-CA],cnrr5v,t2_91rxo,None,2019-08-09 04:46:14,600,True,2400
193,evga 2070 super xc + ballistix sport lt 32 gb...,$800,Was planning on building a rig but had a chang...,[USA-GA] [H] EVGA 2070 SUPER XC + BALLISTIX Sp...,[USA-GA],cll3br,t2_2ap0ssnz,None,2019-08-04 01:05:46,800,True,2070
215,asus geforce gtx 560 ti (fermi) directx 11 en...,$44,[Timestamp](https://imgur.com/a/frYfcmb)\n\nI ...,[USA-TX][H] ASUS GeForce GTX 560 Ti (Fermi) Di...,[USA-TX],cj3ptu,None,None,2019-07-29 08:21:14,44,True,560
445,evga nvidia gtx 1080 ftw hybrid (liquid coole...,$420,"I've had it since Dec 2017, but barely ever fi...",[USA-FL][H] EVGA Nvidia GTX 1080 FTW Hybrid (L...,[USA-FL],bwjnfs,t2_6o69c,Trades: 3,2019-06-04 10:49:23,420,False,1080
930,ek-fc geforce gtx fe waterblock for 1060 1070...,$100,EDIT: sold to /u/Antartic_Camel\n\nEDIT: 2 tra...,[USA-TN] [H] EK-FC Geforce GTX FE Waterblock f...,[USA-TN],ao4jyq,t2_59c0q,Trades: 50,2019-02-07 22:58:52,100,True,1060
937,nvidia geforce gtx 1080 ti founders edition -...,$750,Edit\* was 800\n\n$750 OBO\n\nUsed condition.\...,[USA - FL] [H] NVIDIA GeForce GTX 1080 Ti Foun...,[USA - FL],anr4ui,t2_a55x8,Trades: 3,2019-02-06 22:19:41,750,True,1080
1011,corsair ddr4-2400 2x4gb / msi gaming gtx 960 ...,$380,* [MSI Gaming GTX 980 4GB](https://imgur.com/a...,[USA-GA] [H] Corsair DDR4-2400 2x4GB / MSI Gam...,[USA-GA],ai5k4p,t2_dmwjr,Trades: 150,2019-01-21 10:47:36,380,False,2400
1055,"msi ge63 raider rgb 15.6"" 120hz gtx 1070 8g i...",$60,"MSI GE63: $1,500\nShipping: $60\n\nLightly use...","[USA-MA] [H] MSI GE63 Raider RGB 15.6"" 120Hz G...",[USA-MA],aecqhy,t2_7ghlw,None,2019-01-10 07:20:56,60,False,120